<div class="bg-white container border border dark">
    <h3 class="text-primary">Drake</h3>
    <h4 class="text-primary">Conntribution: <span class="text-dark">Option1</span></h4>
    <h5 class="text-primary">Contribution Description:</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem expedita odit blanditiis voluptatum quidem, quos vel ullam dolorum aliquam asperiores, voluptate voluptas beatae eum architecto nemo qui error accusamus eaque?</p>
</div>