<article class="bg-white container">
    <h2 class="row text-primary">
        <a href="?">Project Title</a>
    </h2>
    <div class="row">
        <h4 class="text-primary">Project Description:</h4></br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aliquam enim nemo quae praesentium assumenda
            tenetur placeat quasi quos quidem officia veniam porro obcaecati quaerat accusantium, omnis voluptatum
            nostrum fugit?</p>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
</article>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['HTML', 'CSS', 'JavaScript'],
            datasets: [{
                label: '# of Votes',
                data: [35, 15, 50],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        }
    });
</script>