{{#if projects.length}}
<div class="new-project-form container m-4">
  <h3 class = "text-center font-weight-bold">Start A New Project</h2>
    <form>
      <div class="form-group row">
        <label for="project-title" class="col-sm-2 col-form-label font-weight-bold"><img src="https://img.icons8.com/ultraviolet/34/000000/tag-window.png"/> Project Title:</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="project-title" name="project-title" />
        </div>
      </div>
      <div class="form-group row">
        <label for="project-description" class="col-sm-2 col-form-label font-weight-bold"><img src="https://img.icons8.com/ultraviolet/28/000000/pencil.png"/> Description:</label>
        <div class="col-sm-12">
          <textarea type="text" class="form-control" id="project-description" name="project-description" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block font-weight-bold">CREATE PROJECT <img src="https://img.icons8.com/cotton/28/000000/circled-left--v1.png"/></button>
        </div>
      </div>
    </form>
</div>
<section class = "font-weight-bold text-center">
  <h2 class = "text-center font-weight-bold">Your Projects</h2>
  <div class= "text-center">
    {{#each projects as |project|}}
    <div class = "border border-primary rounded my-2">
      {{> project-info project }}
      {{!-- <a href="/personalprojects/edit/{{project.id}}" class="edit-link">Edit project</a> --}}
    </div>
    {{/each}}
  </div>
</section>
{{else}}
<section class = "font-weight-bold text-center">
  <img src="https://img.icons8.com/ultraviolet/80/000000/crying.png"/>
  <h2 class = "text-center font-weight-bold">You don't have any projects yet!</h2>
</section>
<div class="new-project-form container m-4">
  <h4 class = "font-weight-bold">Get started with a new project!</h4>
    <form>
      <div class="form-group row">
        <label for="project-title" class="col-sm-2 col-form-label font-weight-bold"><img src="https://img.icons8.com/ultraviolet/34/000000/tag-window.png"/> Project Title:</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="project-title" name="project-title" />
        </div>
      </div>
      <div class="form-group row">
        <label for="project-description" class="col-sm-2 col-form-label font-weight-bold"><img src="https://img.icons8.com/ultraviolet/28/000000/pencil.png"/> Description:</label>
        <div class="col-sm-12">
          <textarea type="text" class="form-control" id="project-description" name="project-description" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block font-weight-bold">CREATE PROJECT <img src="https://img.icons8.com/cotton/28/000000/circled-left--v1.png"/></button>
        </div>
      </div>
    </form>
</div>
{{/if}}

<script src="/javascript/add-project.js"></script>
