{{#if projects.length}}
<section>
  <h2 class = "text-center font-weight-bold">Available Projects</h2>
  <div id = "homepage" >
    <div class= "text-center">
      {{#each projects as |project|}}
      <div class = "border border-primary rounded my-2">
        {{> project-info project}}
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
{{#if loggedIn}}
<h3 class = "text-center font-weight-bold"><a href = "/personalprojects"> Create a new project!</a></h3>
{{else}}
<div class="container m-4 text-center font-weight-bold">
  <h2>Uh Oh!</h2>
  <p class='text-secondary'>You must be <a href = "/login">logged in</a> to create a project!</p>
</div>
{{/if}}


