{{#if projects.length}}
<section>
  <h1 class = "text-center font-weight-bold">User Projects</h1>
  <div id = "homepage" >
    <!--Grid row-->
    <div class="row text-center">
      {{#each projects as |project|}}
        {{> project-info project}}
        {{!-- <a href="/project/{{project.id}}">Contribute to This Project!</a> --}}
      {{/each}}
    </div>
    <!--Grid row-->
  </div>
</section>
{{/if}}