{{#if loggedIn}}
<div class="container m-4">
  <form>
    <form class="create-project-form">
      <div class="form-group">
        <label for="project-title">Title:</label>
        <input class="form-control" type="text" id="project-title" />
      </div>
      <div class="form-group">
        <label for="project-description">Description:</label>
        <input class="form-control" type="text"id="project-description" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </form>
    <script src="/javascript/.js"></script>
  </form>
</div>
{{else}}
<div class="container m-4">
  <h2>Uh Oh!</h2>
  <p class='text-secondary'>You must be logged in to create a project!</p>
</div>
{{/if}}
<div class="bg-primary">
  {{> project-info project}}
</div>